@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');


h1, h2, h3,h5, form, nav{
  font-family: 'Philosopher', sans-serif;
}
p, .btn , button{
  font-family: 'Mulish', sans-serif;
}


header {
    position: relative;
    background-color: black;
    height: 100vh;
    
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }
  .display-3{
      font-weight: bold;
      font-size: 100px;
     
  }#iconi{
    font-size: 3rem;
    justify-content: space-between;
  }